{% extends 'customer/base.html' %}
{% load static %}
{% block title %}
	make an order
{% endblock %}

{% block content %}

<section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Order Details</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Image</a></h4>
              
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight">
              <h1 class="title">{{ user }}</h1>
            </div>
          </div>


          <div class="col-lg-8">
            <div class="box wow fadeInRight">
              {% for order in order_list %}
              <li>{{ order.pk }}.{{ order.product_name }}</li><br>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>

    </section><!-- #services -->

{% endblock %}