{% extends 'customer/base.html' %}
{% load static %}

{% block title %}
	Update Profile
{% endblock %}

{% block content %}
 <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Update Profile</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Image</a></h4>
              
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight">
              <h1 class="title">{{ user }}</h1>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <h4 class="title">First name</h4>
              <h4 class="title">Last name</h4>
              <h4 class="title">Email</h4>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
            <form action="{% url 'update profile' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_name" placeholder="{{ logged_user.1}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" placeholder="{{ logged_user.2}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="{{ logged_user.3}}" class="form-control" >
                </div>
                <div style="padding-left:30%;">
                   <input type="submit" name="Update Now" class="btn-get-started scrollto">
                </div>
            </form>
            </div>
            
          </div>


        </div>

      </div>

    </section><!-- #services -->

    
     
	

{% endblock %}