{% extends 'customer/base.html' %}
{% load static %}
{% block title %}
  Your  order
{% endblock %}

{% block content %}

<section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Your  Order</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Image</a></h4>
              
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight">
              <h1 class="title">{{ user }}</h1>
            </div>
          </div>
         
          <div class="col-lg-4">
            <div class="fadeInLeft" data-wow-delay="0.2s">
              <h1>Order Number</h1>
              <h5 class="title">Sender Name</h4>
              <h5 class="title">Sender Contact No</h4>
              <h5 class="title">Sender Adress</h4>
              <br>
              <h5 class="title">Reciever Name</h4>
              <h5 class="title">Reciever Contact No</h4>
              <h5 class="title">Reciever Adress</h4>
              <h5 class="title">Product Name</h4>
              <h5 class="title">Product Quantity</h4>
              <h5 class="title">Product Type</h4>
              <h5 class="title">Product Weight</h4>
              <h5 class="title">Shipment Charge</h4>
              <h5 class="title">Payment Method</h4>
              <h5 class="title">Order Status</h4>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="" data-wow-delay="0.2s">
              <h1>{{ context.order_id }}</h1>
              <h5 class="title">{{ context.sender_name }}</h5>
              <h5 class="title">{{ context.sender_contact }}</h5>
              <h5 class="title">{{ context.sender_address }}</h5>
              <br>
              <h5 class="title">{{ context.reciever_name }}</h5>
              <h5 class="title">{{ context.reciever_contact }}</h5>
              <h5 class="title">{{ context.reciever_address }}</h5>
              <h5 class="title">{{ context.product_name }}</h5>
              <h5 class="title">{{ context.product_quantity }}</h5>
              <h5 class="title">{{ context.product_type }}</h5>
              <h5 class="title">{{ context.product_weight }}</h5>
              <h5 class="title">{{ context.shipment_cost }}</h5>
              <h5 class="title">{{ context.payment_method }}</h5>
              <h5 class="title" style="color:red">{{ context.status }}</h5>
            </div>
            
          </div>


        </div>

      </div>

    </section><!-- #services -->

{% endblock %}