{% extends 'customer/base.html' %}
{% load static %}

{% block title %}
	{{ user }}
{% endblock %}

{% block content %}
 <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Profile</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Image</a></h4>
              
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight">
              <h1 class="title">{{ user }}</h1>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <h4 class="title">First name</h4>
              <h4 class="title">Last name</h4>
              <h4 class="title">Email</h4>
              <h4 class="title">contact No</h4>
              <h4 class="title">Address</h4>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <h4 class="title">{{ logged_user.1}}</h4>
              <h4 class="title">{{ logged_user.2}}</h4>
              <h4 class="title">{{ logged_user.3}}</h4>
              <h4 class="title">{{ logged_user.5}}</h4>
              <h4 class="title">{{ logged_user.6}}</h4>
            </div>
             <a href="{% url 'update profile' %}">Click to update</a>
          </div>


        </div>

      </div>

    </section><!-- #services -->

    
     
	

{% endblock %}